@media (min-width: 200.98px) {
  section,
  header,
  footer {
    padding: 0 calc(50vw - 270px);
  }

  .header__nav {
    display: none;
  }

  .main {
    grid-template-columns: 1fr;
  }

  .main > *:first-child {
    order: 2;
  }

  .main__text {
    text-align: center;
  }

  .card__content {
    grid-template-columns: 1fr;
  }

  .card__title {
    text-align: center;
  }

  .card__information {
    display: flex;
    align-items: center;

    flex-direction: column;
  }

  .advantages__content {
    grid-template-columns: 1fr;
  }

  .info__content {
    grid-template-columns: 1fr;

    text-align: center;
  }

  .footer {
    flex-direction: column;
  }

  .footer__nav {
    margin-bottom: 15px;

    display: flex;
    flex-direction: column;
  }

  .footer__nav .nav__link {
    margin: 5px 0;

    text-align: center;
  }

  .footer .logo {
    margin-bottom: 15px;
  }

  
}

@media (min-width: 767.98px) {
  section,
  header,
  footer {
    padding: 0 calc(50vw - 360px);
  }

  .header__nav {
    display: none;
  }

  .main > *:first-child {
    order: 0;
  }

  .advantages__content {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer__nav {
    display: flex;
    flex-direction: column;
  }

  .footer__nav .nav__link {
    margin: 5px 0;

    text-align: center;
  }

  .header__nav {
    display: none;
  }

  .main {
    grid-template-columns: 5fr 7fr;
  }

  .main__text {
    text-align: left;
  }

  .card__content {
    grid-template-columns: 4fr 8fr;
  }

  .card__title {
    text-align: left;
  }

  .card__information {
    display: flex;
    align-items: start;

    flex-direction: column;
  }

  .advantages__content {
    grid-template-columns: 1fr 1fr;
  }

  .info__content {
    grid-template-columns: 2fr 1fr;

    text-align: left;
  }

  .footer {
    flex-direction: row;
  }

  .footer__nav {
    margin-bottom: 15px;

    display: flex;
    flex-direction: column;
  }

  .footer__nav .nav__link {
    margin: 5px 0;

    text-align: center;
  }

  .footer .logo {
    margin-bottom: 15px;
  }
}

@media (min-width: 991.98px) {
  section,
  header,
  footer {
    padding: 0 calc(50vw - 480px);
  }


  .main > *:first-child {
    order: 0;
  }

}

@media (min-width: 1199.98px) {
  section,
  header,
  footer {
    padding: 0 calc(50vw - 590px);
  }

  .header__nav {
    display: none;
  }

  .advantages__content {
    grid-template-columns: repeat(4, 1fr);
  }

  .footer__nav {
    display: flex;
    flex-direction: column;
  }

  .footer__nav .nav__link {
    margin: 5px 0;

    text-align: center;
  }

  .header__nav {
    display: none;
  }


  .main > *:first-child {
    order: 0;
  }

  .main {
    grid-template-columns: 5fr 7fr;
  }


  .main > *:first-child {
    order: auto;
  }

  .main__text {
    text-align: left;
  }

  .card__content {
    grid-template-columns: 4fr 8fr;
  }

  .card__title {
    text-align: left;
  }

  .card__information {
    display: flex;
    align-items: start;

    flex-direction: column;
  }

  .advantages__content {
    grid-template-columns: repeat(4, 1fr);
  }

  .info__content {
    grid-template-columns: 8fr 4fr;

    text-align: left;
  }

  .footer {
    flex-direction: row;
  }

  .footer__nav {
    margin-bottom: 15px;

    display: flex;
    flex-direction: row;
  }

  .footer__nav .nav__link {
    margin: 5px 0;

    text-align: center;
  }

  .footer .logo {
    margin-bottom: 15px;
  }
}
